<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="usr/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Forum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let posts of Post">
    <ion-row>
      <ion-col>
        <ion-chip>
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>/{{posts.username}}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <div class="ellipses">
          <!-- <ion-icon name="ellipsis-vertical"></ion-icon> • -->
          <ion-col>
            <ion-text>
              {{posts.time}}
            </ion-text>
          </ion-col>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="postContent">
        <ion-text>
          {{posts.post}}
        </ion-text>
      </div>
    </ion-row>
    <ion-row>
      <div class="postInfo">
        <div class="joinNumber">
          <ion-icon name="person"></ion-icon>
          <br>
          <ion-text color='black'>
            0
          </ion-text>
        </div>

        <div class="votes">
          <ion-icon name="heart"></ion-icon>
          <br>
          <ion-text color='black'>
            0
          </ion-text>
        </div>

        <div class="joinBtn">
          <ion-button color="secondary" size="small">
            view
          </ion-button>
        </div>
      </div>
    </ion-row>
  </ion-card>
</ion-content>
