<ion-content>
  <div class="container">
    <!-- <div class="register">
      <ion-button [routerLink]="['/register']">
        Register
      </ion-button>
    </div>
    <div class="imgIcon">
      <img src="assets/icon/splash.png" alt="">
    </div>
    <div class="imgIcon1">
      <img src="assets/icon/splash.png" alt="">
    </div> -->

    <div class="holder">
      <ion-row>
        <div class="title">
          <ion-text>Splash</ion-text>
        </div>
      </ion-row>
    </div>
    <div class="overlay">
      <ion-row class="ion-padding">
        <div class="creds">

          <ion-list>
            <ion-item>
              <ion-icon name="person-outline"></ion-icon>
              <ion-input type="email" [(ngModel)]="form.username" placeholder="Enter Username"></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-icon name="key-outline"></ion-icon>
              <ion-input type="password" [(ngModel)]="form.password" placeholder="Enter Password"></ion-input>
            </ion-item>
          </ion-list>
        </div>
      </ion-row>
      <ion-button expand="block" size="default" (click)="post()" shape="round">Login
      </ion-button>
      <div class="footer">
        <ion-text>
          Don't have an account?
        </ion-text>
        <br>
        <br>
        <ion-text style="color: rgb(57, 147, 231);" [routerLink]="['/register']">
          Create Account
        </ion-text>
      </div>
    </div>
  </div>
</ion-content>
