@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.container{
    // background:#48dbfb;
    width: 100%;
    height: 100%; 
    background: rgb(57, 147, 231);
}
.register{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}
.title{
    width: 100%;
    text-align: center;
    // color:green;
    font-family: 'Permanent Marker',
    cursive;
   font-size: 70px;
   color: rgb(255, 255, 255);
//    text-shadow: black 1px 1px 1px;
   z-index: 2;
//    background: green;
}
 .imgIcon {
   position: absolute;
   top: 50%;
   left: 20%;
   width: 100%;
   z-index: 1;
 }
  .imgIcon1 {
    position: absolute;
    top: 0%;
    left: 5%;
    width: 100%;
    z-index: -1;
    img{
        width: 50%;
    }
  }

.holder{
    position: absolute;
    width: 100%;
    height: fit-content;
    margin:40px 0 0 0;
    inset: 0;
    text-align: center;
}
.overlay{
    background: #ffffff;
    position: absolute;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    bottom: 0;
    width: 100%;
    height: 65%;
}
.creds{
    // margin-top: 20rem;
    width: 100%;
    // margin: auto;
    color: #212121;
    z-index: 2;
    
    ion-input{
        color: #3d3d3d;
        font: 18px;
    }
    ion-icon{
        font-size: 22px;
        padding-right:1rem;
    }

}
ion-button{
    width: 80%;
    margin:auto;
}
ion-label{
   color: #313131;
   text-align: left;
}
.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    // background: green;
    height: 30%;
    ion-text{
        margin-bottom: 1rem;
    }
}
