<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <!-- <ion-badge color="danger">6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="notifications-sharp"></ion-icon>
      <!-- <ion-badge color="danger">6</ion-badge> -->
    </ion-tab-button>

    <!-- <ion-tab-button tab="add">
      <ion-icon name="add-circle"></ion-icon>
    </ion-tab-button> -->

    <ion-tab-button tab="add">
      <div class="nav-icon">
        <img src="assets/icon/splash.png" alt="">
      </div>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="forum">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
