<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="usr/home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>forum</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col>
        <ion-chip>
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>/jeybysy</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <div class="ellipses">
          <!-- <ion-icon name="ellipsis-vertical"></ion-icon> • -->
          <ion-col>
            <ion-text>
              6-22/9:53
            </ion-text>
          </ion-col>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="postContent">
        <ion-text>
          Send Memes
        </ion-text>
      </div>
    </ion-row>
  </ion-card>

  <ion-card class="comment">
    <ion-label>
      Comments
    </ion-label>

    <center>
      No Comment
    </center>

  </ion-card>

  <div class="footer">
    <ion-icon style="font-size:22px;" name="heart-outline"></ion-icon>
    <ion-card>
      <ion-input placeholder="Comment here"></ion-input>
    </ion-card>
    <ion-button>
      Comment
    </ion-button>
  </div>

</ion-content>
