@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

#container {
  position: absolute;
  left: 0;
  right: 0;
  height: fit-content;
  padding-bottom: 3rem;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.nav-icon {
  position: absolute;
  left: 5%;
  top: 23%;
  width: 35px;
  z-index: -1;

  img {
    width: 100%;

  }
}

.title {
  position: absolute;
  left: 5%;
  bottom: 10%;
  font-family: 'Permanent Marker',
    cursive;
  font-size: 28px;
  color: rgb(57, 147, 231);
  // text-shadow: black 0.5px 1px 1px;
  z-index: 1;
}


.user-icon {
  position: absolute;
  right: 5%;
  bottom: 10%;

  ion-icon {
    font-size: 35px;
    padding: 0.1rem;

  }
}

.holder {
  width: 100%;
  text-align: center;
  height: fit-content;
  position: fixed;
  z-index: 1;
  background: rgb(255, 255, 255);

  ion-segment-button {
    ion-label {
      font-size: 13px;
      text-transform: capitalize;
    }
  }
}

.cont {
  margin-top: 3.7rem;
}

.ellipses {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  // font-size: 20px;
}

.postContent {
  width: 98%;
  margin: auto;
  background: #3d3d3d10;
  padding: 0.9rem;
  font-size: 22px;
  border-radius: 0.5rem;

  img {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  ion-text {
    color: #3d3d3d;
  }

}

.postInfo {
  width: 90%;
  margin: auto;
  font-size: 12px;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  ion-icon {
    font-size: 18px;
  }

  // .votesNumber{
  //     transform: translate(-1px, 2px);
  // }
  .joinBtn {
    font-size: 12px;
  }

  .joinNumber {
    text-align: center;
  }

  .votes {
    text-align: center;
  }
}
.comment{
    height: 50vh;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}