
ion-list{
background: rgba(57, 147, 231, 0.301);
padding: 1.5rem;
border-radius: 1rem;
margin-top: 20%;
    ion-text {
      font-size: 18px;
      color: #212121;
    }

}
ion-list{
    text-align: center;

}
ion-input{
    font-weight: bold;
}
ion-textarea{
    background: #3d3d3d10;
    font-size: 15px;
    height: fit-content;
    border-radius: 0.5rem;
    height: 40vh;

}

ion-button{
    position: absolute;
    right: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;
}