<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="usr/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Post a Splash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <form [formGroup]="userForm" (ngSubmit)="postSplash()">
    <ion-list>
      <ion-input readonly formControlName="username">{{username}}</ion-input>
      <ion-text>
        Any Topics or Ideas?
      </ion-text>
    </ion-list>

    <br>

    <ion-textarea formControlName="post" placeholder="Enter your topics or ideas here" auto-grow=true maxlength=200>
    </ion-textarea>

    <ion-button type="sumbit">
      post
    </ion-button>
  </form>

</ion-content>
