.content{
    align-items: center;
}
.profile{
    min-width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    margin-top: 0.5rem;
    background: rgb(232, 235, 232);
}
.userInfo{
    padding: 1rem;
    ion-label{
        text-transform: capitalize;
        font-size: 22px;
        font-weight: bold;
    }
    ion-chip{
        margin-top: 1rem;
    }
}
.user{
    width: 100%;
    height: 40vh;
    background: #3d3d3d33;
    border-radius: 1rem;
    padding: 1rem;

}
.top{
    margin-bottom: 1rem;
    background: rgb(57, 147, 231);
    border-radius: 1rem;
}
.infoNumbers{
    text-align: center;
    margin-bottom: 1rem;
}
.logout{
    align-items: center;
}
.forums, .follower {
    background: #3d3d3d33;
    padding: 0.5rem;
    border-radius: 1rem;
}
ion-chip{
    --background:white;
}
