<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="usr/home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="content">
    <ion-row class='top'>
      <ion-col>
        <div class="userInfo">
          <ion-label>
            {{firstName}}
          </ion-label>
          <ion-label>
            {{lastName}}
          </ion-label>
          <ion-chip>
            /{{username}}
          </ion-chip>


        </div>
      </ion-col>
      <ion-col>
        <div class="profile">

        </div>
      </ion-col>
    </ion-row>
    <ion-row class="infoNumbers">
      <ion-col>
        <div class="forums">
          <ion-label>
            Forums
          </ion-label>
          <br>
          <ion-label>
            {{Post.length}}
          </ion-label>
        </div>
      </ion-col>
      <ion-col>
        <div class="follower">
          <ion-label>
            Followers
          </ion-label>
          <br>
          <ion-label>
            6
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="user">
        <ion-text>
          Hi I am {{firstName}} and welcome to my profile. Thank you for visiting
        </ion-text>
      </div>
    </ion-row>

    <ion-row style="justify-content: center;">

      <ion-button class="logout" color='light' (click)="logout()">
        Logout
      </ion-button>

    </ion-row>

  </div>
</ion-content>
