<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="usr/home"></ion-back-button>
    </ion-buttons>
    <ion-searchbar showCancelButton="never">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-card>
      <ion-item href="#">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <div class="userInfo">
          <ion-label>
            Rachel Solejon
          </ion-label>
          <ion-text>
            /rachel123
          </ion-text>
        </div>
        <div class="joinBtn">
          <ion-button color="light">
            Follow
          </ion-button>
        </div>
      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>
