ion-item{
    --border-style: none;
    box-shadow: none;
}
ion-card{
    box-shadow: none;
    border: none;
    margin-bottom: 0.5rem;
}
.userInfo{
    margin-left: 0.5rem;
    ion-label{
        font-size: 18px;
    }
    ion-text{
        color: #3d3d3d;
    }
}
.joinBtn{
    position: absolute;
    right: 0.5rem;
}
