<ion-header [translucent]="true">
  <ion-toolbar #toolbar>
    <div class="user-icon">
      <ion-icon [routerLink]="profile" name="person-circle-outline"></ion-icon>
    </div>
    <div class="title">
      <ion-text>Splash</ion-text>
    </div>
  </ion-toolbar>


</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Splash</ion-title>
    </ion-toolbar>
  </ion-header> -->
<ion-content [fullscreen]="true">
  <div id="container">


    <!-- <ion-card>
        <ion-row>
          <ion-col>
            <ion-chip>
              <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
              <ion-label>s/jherico</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <div class="ellipses">
              <ion-icon name="ellipsis-vertical"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
              Posted by u/anonymous • 12hrs ago
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="postContent">
            <ion-text color="black">
              <h1>AWIT lowds ang ganda!!!</h1>
            </ion-text>

            <img src="assets/images/yuqi.jpg" alt="">

          </div>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <div class="postInfo">
            <div class="votes">
              <ion-icon name="caret-up"></ion-icon>
              <ion-text color='black'>
                100k
              </ion-text>
              <ion-icon name="caret-down"></ion-icon>
            </div>
            <div class="comment">
              <ion-icon name="chatbox"></ion-icon>
              <ion-label>Comment</ion-label>
            </div>
            <div class="votes">
              <ion-icon name="share-social"></ion-icon>
              <ion-label>Share</ion-label>
            </div>
          </div>
        </ion-row>
      </ion-card> -->
    <!-- <ion-card>
        <ion-row>
          <ion-col>
            <ion-chip>
              <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
              <ion-label>/jherico</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <div class="ellipses">
              <ion-icon name="ellipsis-vertical"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
              Posted by /anonymous • 12hrs ago
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="postContent">
            <ion-text color="black">
              <h1>What is going on in the Philippines</h1>
            </ion-text>
          </div>
        </ion-row>
        <ion-row>
          <div class="postInfo">
            <div class="votes">
              <ion-icon name="caret-up"></ion-icon>
              <ion-text class="votesNumber" color='black'>
                100k
              </ion-text>
              <ion-icon name="caret-down"></ion-icon>
            </div>
            <div class="comment">
              <ion-icon name="chatbox"></ion-icon>
              <ion-label>Comment</ion-label>
            </div>
            <div class="votes">
              <ion-icon name="share-social"></ion-icon>
              <ion-label>Share</ion-label>
            </div>
          </div>
        </ion-row>
      </ion-card> -->

    <ion-card *ngFor="let posts of Post">
      <ion-row>
        <ion-col>
          <ion-chip>
            <ion-avatar>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>/{{posts.username}}</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <div class="ellipses">
            <!-- <ion-icon name="ellipsis-vertical"></ion-icon> • -->
            <ion-col>
              <ion-text>
                {{posts.time}}
              </ion-text>
            </ion-col>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <div class="postContent">
          <ion-text>
            {{posts.post}}
          </ion-text>
        </div>
      </ion-row>
      <ion-row>
        <div class="postInfo">
          <div class="joinNumber">
            <ion-icon name="person"></ion-icon>
            <br>
            <ion-text color='black'>
              0
            </ion-text>
          </div>

          <div class="votes">
            <ion-icon name="heart"></ion-icon>
            <br>
            <ion-text color='black'>
              0
            </ion-text>
          </div>

          <div *ngIf="posts.username === uname ; else elseBlock">
            <ion-button href="/forums" color="secondary" size="small">
              <!-- (click)='openPost(posts)' -->
              view
            </ion-button>
          </div>
          <ng-template #elseBlock>
            <ion-button href="/forums" color="secondary" size="small">
              join
            </ion-button>
          </ng-template>
        </div>
      </ion-row>
    </ion-card>
  </div>

</ion-content>
