 ion-icon {
   font-size: 22px;
   padding-right: 1rem;
 }
 ion-button {
   width: 80%;
   margin: auto;
 }
 ion-text{
   font-size: 24px;
 }
.imgIcon{
  padding: 1rem;
  width: 30%;
}
p{
  color: #3d3d3d;
}
