 <ion-header>
   <ion-toolbar color="secondary">
     <ion-buttons slot="start">
       <ion-back-button defaultHref="/"></ion-back-button>
     </ion-buttons>
     <ion-title>Sign Up</ion-title>
   </ion-toolbar>
 </ion-header>

 <ion-content>
   <center>
     <div class="imgIcon">
       <img src="assets/icon/splash.png" alt="">
     </div>
     <ion-text>
       Create Your Account
     </ion-text>
     <br>
     <p>
       Please Fill the required
     </p>
   </center>

   <ion-list class="ion-padding">
     <ion-item>
       <ion-icon name="person-outline"></ion-icon>
       <ion-input [(ngModel)]="signIn_user.fname" placeholder="First Name"></ion-input>
     </ion-item>
     <br>
     <ion-item>
       <ion-icon name="person-outline"></ion-icon>
       <ion-input [(ngModel)]="signIn_user.lname" placeholder="Last Name"></ion-input>
     </ion-item>
     <br>
     <ion-item>
       <ion-icon name="person-outline"></ion-icon>
       <ion-input [(ngModel)]="signIn_user.uname" placeholder="Enter Username"></ion-input>
     </ion-item>
     <br>
     <ion-item>
       <ion-icon name="key-outline"></ion-icon>
       <ion-input [(ngModel)]="signIn_user.pword" type="password" placeholder="Enter Password"></ion-input>
     </ion-item>
   </ion-list>
   <ion-button shape="round" (click)="signUp()" expand="block">Sign Up</ion-button>

 </ion-content>
